.menu_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 25px;
  margin-top: 25px;
}
.dish_container {
  flex-wrap: wrap-reverse;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.dish_images1 {
  height: 210px;
  width: 210px;
  position: relative;
  border-radius: 50%;
  top: -100px;
}
.dish_images2 {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: -5px;
}
.dish_card1 {
  display: flex;
  width: 200px;
  height: 300px;
  color: #f2f6ff;
  border-radius: 150px 150px 50px 50px;
  z-index: -1;
  background: #f2f6ff;
  box-shadow: 19px 19px 32px #c2c5cc, -19px -19px 32px #ffffff;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.dish_card2 {
  display: flex;
  width: 200px;
  height: 300px;
  color: #f2f6ff;
  border-radius: 150px 150px 50px 50px;
  z-index: -1;
  background: #f2f6ff;
  box-shadow: 19px 19px 32px #c2c5cc, -19px -19px 32px #ffffff;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  top: 180px;
  position: relative;
}
.dish_name1 {
  color: #23233c;
  position: relative;
  top: 0;
  width: 60%;
}
.dish_name2 {
  position: relative;
  top: 0;
  color: #23233c;
}
.about_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.menu_para {
  color: #7f8da0;
  font-size: 0.8rem;
}
.menu_heading {
  color: #6cc57c;
}
.menu_heading span {
  color: #23233c;
}
.next_btn1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  border: none;
  background-color: #23233c;
  color: #ffffff;
  bottom: -10px;
  left: 90px;
}
.next_btn2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  border: none;
  background-color: #23233c;
  color: #ffffff;
  bottom: -18px;
  left: 90px;
}

@media (max-width: 768px) {
  .dish_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .menu_container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 25px;
  }
  .dish_card1 {
    width: 300px;
    height: 400px;
  }
  .dish_card2 {
    width: 300px;
    height: 400px;
  }
  .dish_images1 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
  .dish_images2 {
    height: 300px;
    width: 300px;
  }
  .next_btn1,
  .next_btn2 {
    position: relative;
    bottom: -30px;
    left: 135px;
    height: 60px;
    width: 60px;
  }
  .dish_card2 {
    top: 0px;
    position: relative;
  }
}
