@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f6ff;
}
.home {
  width: 85%;
  height: auto;
  position: relative;
  left: 25px;
  right: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.home_left_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home_left_container p {
  color: #7f8da0;
}
.home_heading {
  display: flex;
  flex-direction: column;
  color: #6bc37c;
  font-size: 3.75rem;
}
.home_heading span,
.dash_line {
  color: #23233c;
}

.home_left_container div .dash_line {
  display: block;
}

.first_para,
.second_para,
.home_heading,
.btn_section {
  padding: 12px 0;
}
.dash_line {
  padding: 50px 0 0 0;
}
.btn_section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.btn_section button {
  width: 234px;
  height: 50px;
  background-color: #23233c;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.social_btn {
  font-size: 2rem;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.social_btns {
  position: relative;
  left: 50px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.social_names {
  width: 95%;
  position: relative;
  top: 50px;
}
.social_names ul {
  display: flex;
  list-style: none;
  width: 322px;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.social_names ul li a {
  text-decoration: none;
  color: #7f8da0;
}
.social_names ul li a:active {
  color: #6bc37c;
}
.activeclass {
  color: #6bc37c;
}

/* 🧧home right container start🧧 */
.home_right_container {
  display: flex;
  position: relative;
  width: 50%;
  align-items: center;
}
.home_right_container .images {
  display: flex;
  align-items: center;
  height: 50vh;
}
.img1 {
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 200px;
  left: 42px;
  top: 80px;
}
.img2 {
  position: absolute;
  top: -135px;
  width: 288px;
  height: 622px;
}
.img3 {
  position: absolute;
  top: 20px;
  left: 175px;
  width: 200px;
  height: 100px;
}
.home_img {
  position: absolute;
  width: 288px;
  left: 200px;
  height: 622px;
  top: -30px;
}
.home_pop_img {
  position: absolute;
  width: 200px;
  height: 125px;
  left: 322px;
  top: 250px;
}
.social_names ul {
  align-items: center;
  justify-content: center;
}
.social_names ul li {
  padding: 0 12px;
}
.social_names_up {
  display: none;
}
.home_mb_images {
  display: none;
}
/*🏩 media queries start🏩 */
/* @media (min-width: 768px) {
  .home_right_container img {
    width: 40%;
  }
} */
@media (max-width: 769px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .dash_line {
    padding: 50px 0 0 0;
  }
  .btn_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn_section button {
    width: 80%;
    position: relative;
    left: -16px;
    cursor: pointer;
  }
  .social_btns {
    display: flex;
    width: 50%;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    position: relative;
    left: -25px;
    top: 20px;
  }
  .home_right_container {
    width: 100%;
    display: none;
  }
  .home_left_container {
    width: 100%;
  }
  .social_names {
    display: none;
  }
  .social_names_up {
    display: flex;
    width: 100%;
    padding: 12px 0;
  }
  .social_names_up ul {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .social_names_up ul li {
    padding: 0 12px;
  }
  .social_names_up ul li a {
    text-decoration: none;
    color: #7f8da0;
  }
  .home_mb_images {
    display: flex;
    position: relative;
    height: 550px;
    top: 20px;
    justify-content: center;
  }
  .home_pop_img {
    position: absolute;
    width: 300px;
    height: 160px;
    left: 5px;
    top: 281px;
  }
  .img1 {
    position: absolute;
    z-index: -1;
    height: 235px;
    width: 235px;
    left: 42px;
    top: 80px;
  }
  .img2 {
    position: absolute;
    top: -135px;
    width: 320px;
    height: 630px;
    left: 0;
  }
  .img3 {
    position: absolute;
    top: -15px;
    left: 150px;
    width: 280px;
    height: 158px;
  }
  .home_img {
    position: absolute;
    width: 320px;
    left: 226px;
    height: 628px;
    top: -9px;
  }
}
@media (max-width: 415px) {
  .social_names_up ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .img1 {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 200px;
    left: 0;
    top: 80px;
  }
  .img2 {
    position: absolute;
    top: -50px;
    width: 370px;
    height: 439px;
    left: -85px;
  }
  .img3 {
    position: absolute;
    top: 6px;
    left: 94px;
    width: 239px;
    height: 122px;
  }
  .home_img {
    position: absolute;
    width: 380px;
    left: 90px;
    height: 439px;
    top: 45px;
  }
  .home_pop_img {
    position: absolute;
    width: 195px;
    height: 110px;
    left: -28px;
    top: 249px;
  }
}
